.topic {
    top: 5px;
    left: 5px;
    position: absolute;
}

.tabPanel {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}